.kmer-gallery-backdrop
{
	height: 100px;
}

.kmer-gallery-posters
{
	height: 240px;
}

#title-img img 
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
}

.searchOptionsBar {
    padding-top: 10px;
}

.searchOptionsBar select{
    display: inline-block;
}

#TermFrequencies 
{
    width: 180px;
}

#QueryModeSelector {
    width: 160px;
}

.hl
{
background-color:red;
}

.gene-result
{
	border-radius: 15px;
	padding-left: 15px;
	border: 1px;
	background-color: #F3F3F3;
	cursor:pointer;
	border:1px solid #E1E1E1;
	word-break:break-all;
}

.kmer-result:hover
{
	background-color: #F3F3F3;
	font-weight: bold;
	cursor:pointer;
	border:1px solid #E1E1E1;
}

.kmer-result
{
	border-radius: 15px;
	border:1px solid white;
	padding-left: 15px;
}

#trailer iframe
{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#wikipedia
{
    margin-left:15px;
	word-break:break-all;
}

#soundtrack
{
    margin-left:15px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}